<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="title" value="Graph Calculator"/>
		<add key="advanced-mode" value="false"/>
		<add key="calculate-time" value="true"/>
		<add key="multi-input-for-values" value="false"/>
		<add key="encoding" value="utf-8"/>
		<add key="wrong-data" value="Неправильні дані!"/>
		<add key="value-count" value="Кількість (x)"/>
		<add key="input-values" value="Значення для (x)"/>
		<add key="function-input-values" value="Значення для (x) функції {0}"/>
		<add key="limitation-function-count" value="Кількість обмежувальних функцій"/>
		<add key="limitation-function" value="Обмежувальна функція {0}"/>
		<add key="limitation" value="Обмежувач для функції {0}"/>
		<add key="function-maximum" value="Максимум для функції {0}"/>
		<add key="function-count" value="Кількість функцій"/>
		<add key="function" value="Функція {0}"/>
		<add key="as-fractional-functions" value="Функції дробові?"/>
		<add key="input-functions-denominators" value="Ввести значення знаменників функцій?"/>
		<add key="functions-denominators" value="Знаменники для функції {0}"/>
		<add key="result" value="Результат"/>
		<add key="count" value="Кількість"/>
		<add key="limitation-function-results" value="Результати обмежувальної функції {0}"/>
		<add key="matches" value="Збіги"/>
		<add key="execution-info" value="Кількість операцій: {0}	Час виконання: {1}"/>
		<add key="execution-time" value="Час виконання усіх обчислювань: {0}"/>
		<add key="go-newly" value="Поїхали наново!"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
